body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at center, #111, #000);
  color: #fff;
  text-align: center;
}
header {
  padding: 1em;
  background-color: #c80000;
  color: gold;
  font-size: 1.5em;
}
#gameInfo {
  margin: 1em 0;
}
#historyList {
  display: inline-block;
  margin-left: 0.5em;
}
input#searchInput, #loginGate input {
  margin-top: 10px;
  padding: 0.5em;
  font-size: 1em;
  width: 250px;
  border-radius: 10px;
  border: none;
}
#cartonesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}
.carton {
  background-color: #222;
  border: 2px solid gold;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  color: white;
  box-shadow: 0 0 10px #c80000;
  position: relative;
}
.carton h2 {
  margin: 5px 0;
  color: gold;
}
.carton table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.carton td {
  border: 1px solid #444;
  padding: 5px;
  font-size: 1.2em;
  color: white;
  background: #111;
}
.carton .btn {
  background-color: gold;
  color: black;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.marked {
  background: #c80000 !important;
}
.carton.vendido {
  opacity: 0.5;
  border-color: red;
}
